/* UserProfile.css */
.user-profile-container {
    background-color: #f8f9fa;
    /* Color de fondo */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    /* Sombra */
}

.logout-button {
    margin-top: 20px;
}